<!DOCTYPE html>
<html lang="en">
<head>

<script src=”//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js”></script>
  <link rel=”stylesheet” href=”http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css”>
  <script src=”//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js”></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="./styles/style.css">
  <meta charset="UTF-8">
  <title>Landing Page</title>
</head>
<body>


  <nav class=”navbar navbar-inverse” role=”navigation” style=”padding-left:130px;”>
    <ul class=”nav navbar-nav”>
      <li><a href="/browse">Browse Recipes</a></li>
      <li><a href="/recipes">Personal Favorites</a></li>
      <li><a href="#">Sign In<span class=”sr-only”>(current)</span></a></li>
    </ul>
  </nav>


  <div class="heroImg">
    This is where I will put a description of this site and how to use it
  </div>


  <h3>Featured Dishes</h3>
  <form action='/browse/meals' method="POST">
  <div class="featured">
    <% data.data.meals.forEach(meal => { %>


        <div class="single-meal">
          <input type='image' name="idMeal" value="<%= meal.idMeal %>"  src="<%= meal.strMealThumb %>" alt="Img for Meal" style="width: 20vw;height: 20vw;">
          <br />
          <%= meal.strMeal %>
        </div>
    <% }) %>
  </div>
</form>


<footer>Currently Under Production</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
</body>
</html>
