  <nav class=”navbar navbar-inverse” role=”navigation” style=”padding-left:130px;”>
    <ul class=”nav navbar-nav”>
      <li class="homeBtn"><a href="/">Home</a></li>
      <li><a href="/browse">Browse Recipes</a></li>
      <li><a href="/recipes">Personal Favorites</a></li>
      <li class ="dropdown"><button class="btn btn-primary dropdown toggle" data-toggle="dropdown">Sign In<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/login">Sign In</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="">View Profile</a></li>
      </ul>

      </li>
    </ul>
  </nav>
